
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin-bottom: 10px;
}

.image {
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    object-fit: cover; 
}

.all-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.all-links li {
    margin-left: 15px;
}

.all-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}


@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .all-links {
        justify-content: flex-start;
        margin-top: 10px;
    }
}
